<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="UTF-8">
<!--   <title>这里是主页</title>-->
   <style>
       h1 { color:red }
   </style>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="day.css">
</head>
<body>
   <div style="margin: -moz-calc(100pt,100pt,100pt,100pt);color: #2C8AE8;height: max-content;width: max-content;">
      <h1>动态渐变背景</h1>
   </div>
</body>
</html>